/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1em;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: 2C2C2C;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #F8971D;
}
p {
  color:white;
}
/* h1 {
  color: #F8971D;
} */

ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a{
  text-decoration: none;

}

.container {
    width: 99%; /*for mobile & tablet*/
    max-width: 1200px; /*for desktops*/
    margin: 0 auto; /*this will center everything no matter the width of the viewport*/
/*MAIN STYLES*/
.main-nav {
    padding-top: 2em;

}
.nav {
  margin-top:  1.5em;
}

.nav a {
  display: block;
  color: #F8971D;
  font-size: 1.125em;
  font-weight: 900;
  text-align: center;
  padding: 1em;


}

nav a:hover {
  color: white;

}

.name-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25em;
  color: white;

}

footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgba(216, 211, 210, .09);
    padding: 1.3em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: white;

}

footer, li {
  color: white;
}
